tickTime={{ tick_time }}
dataDir={{ data_dir }}
dataLogDir={{ log_dir }}
clientPort={{ client_port }}
initLimit={{ init_limit }}
syncLimit={{ sync_limit }}


{% for server in zookeeper_all_hosts %}
{% if server is defined %}
server.{{loop.index}}={{server}}:{{zookeeper_cluster_ports}}
{% else %}
server.{{loop.index}}={{server}}:{{zookeeper_cluster_ports}}
{% endif %}
{% endfor %}
